
.uploaddir {
    width: 200px;
    height: 40px;
    overflow: hidden;
    position: relative;
    margin-bottom: 12px;
}
.uploaddir > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.uploaddir > .btn-file-input {
    display: inline-block;
    width: 200px;
    height: 40px;
}
.uploaddir:hover > .btn-file-input {
    background-color: #aaa;
}